@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');


body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Potta One', cursive;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

#targetDate {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#startBtn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startBtn:hover {
    background-color: #0056b3;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.time {
    margin: 0 10px;
    text-align: center;
}

.time span {
    font-size: 2em;
    display: block;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    color: red;
}
